extends ../layouts/master
block title
  | Asistencia para (#{classroom.name}) en Koulu
block body
  include ../components/header
  .container.content
    .row
      .col-lg-6.col-md-6.col-sm-6.col-xs-6
        h2
          strong #{classroom.name}
      .col-lg-6.col-md-6.col-sm-6.col-xs-6.text-right
      .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        .panel-heading Alumnos (#{students.length})
        .panel-body
          ul.list-group
            each student, index in students
              li.list-group-item= (index + 1) + '. ' + student.last_name + ', ' + student.first_name
                select.form-control.pull-right(name="attendance-#{student.student_id}", style="width:100px;height:25px")
                  option(value="present")
                    | Presente
                  option(value="absent")
                    | Ausente
                  option(value="late")
                    | Tarde
block scripts
  script(src="/js/header.js")
block styles
