extends ../layouts/master
block title
  | Nuevo curso en Koulu
block body
  include ../components/header
  .container.content
    form(role="form",action="/classroom",method="post")
      h2 Agregar un curso
      //if error.length !== 0
      //  .alert.alert-danger
      //    = error
      .form-group
        label Nombre del curso
        input.form-control.first(type="text",
        placeholder="Nombre del curso",
        name="name",
        required,
        autofocus)
      .form-group
        label Nivel
        select.form-control(name="category")
          each category in categories
            option(value="#{category.key}")= category.name
      .form-group
        label Especialidad
        select.form-control(name="specialty")
          each specialty in specialties
            option(value="#{specialty.id}")= specialty.name
      .text-left.wanna-sign-up
        | No encuentro la especialidad que necesito, quiero&nbsp;
        a(href="/specialty/new") agregarla
      hr
      input(type="hidden",name="_csrf",value="#{_csrf}")
      button.btn.btn-lg.btn-success.btn-block(type="submit") Agregar
block scripts
  script(src="/js/header.js")
block styles
