extends ../layouts/master
block title
  | #{subject.name} (#{classroom.name}) en Koulu
block body
  include ../components/header
  .container.content
    h2
      strong #{subject.name}&nbsp;
      | #{classroom.name}
      a.btn.btn-default.btn-xs.pull-right(href="/subject/#{subject.id}/edit") Editar materia
    .col-lg-6.col-md-6.col-sm-12.col-xs-12
      include ../components/students
    .pull-right.col-lg-6.col-md-6.col-sm-12.col-xs-12
      include tabs

block scripts
  script(src="/js/header.js")
block styles
