extends ../layouts/master
block title
  | #{student.user.last_name}, #{student.user.first_name} (#{student.classroom.name}) en Koulu
block body
  include ../components/header
  .container.content
    h2
      strong #{student.user.last_name}, #{student.user.first_name}&nbsp;
      | de&nbsp;
      strong #{student.classroom.name}
      a.btn.btn-default.btn-xs.pull-right(href="/classroom/#{student.classroom.id}/student/#{student.id}/edit") Editar alumno
    .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .panel.panel-default
        .panel-heading
          h4 Inasistencias
        .panel-body
          h3
            strong #{total_absences}
    .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .panel.panel-default
        .panel-heading
          h4 Promedio anual
        .panel-body
          h3
            strong #{average}
    .col-lg-4.col-md-4.col-sm-4.col-xs-12
      .panel.panel-default
        .panel-heading
          h4 Amonestaciones
        .panel-body
          h3
            strong 0
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
        .panel-body
          ul.nav.nav-tabs
            li.active
              a(href="#absences",data-toggle="tab") Inasistencias
            li
              a(href="#qualification",data-toggle="tab") Calificaciones
            li
              a(href="#banns",data-toggle="tab") Amonestaciones
          .tab-content(style="margin-top:5px")
            #absences.tab-pane.active
              if absences.length === 0
                br
                | El alumno no posee inasistencias
              else
                ul.list-group
                  each absence, index in absences
                      li.list-group-item
                        | #{index + 1}.&nbsp;
                        | #{absence.getDateFormatted()}&nbsp;
                        strong #{absence.status === 'absent' ? 'Ausente' : 'Tarde'}
            #qualification.tab-pane
              if qualifications.length === 0
                br
                | El alumno no posee calificaciones
              else
                ul.list-group
                  each qualification, index in qualifications
                    li.list-group-item
                      | #{index + 1}.&nbsp;
                      | #{qualification.test.getDateFormatted()}&nbsp;
                      strong #{qualification.test.description}:&nbsp;
                      strong(style="font-size:18px") #{qualification.mark}
            #banns.tab-pane
              br
              | El alumno no posee amonestaciones

block scripts
  script(src="/js/header.js")
block styles
