extends ../layouts/master
block title
  | #{test.description} de #{subject.name} (#{subject.classroom.name}) en Koulu
block body
  include ../components/header
  .container.content
    h2
      strong #{test.description}&nbsp;
      | #{test.getDateFormatted()}
      a.btn.btn-default.btn-xs.pull-right(href="/subject/#{subject.id}/test/#{test.id}/edit") Editar evaluación
    h3
      strong #{subject.name}&nbsp;
      | #{subject.classroom.name}
    .col-lg-12.col-md-12.col-sm-12.col-xs-12
      .panel-heading Alumnos (#{students.length})
      .panel-body
        form(name="attendance-form", action="/subject/#{subject.id}/test/#{test.id}", method="post")
          ul.list-group
            each student, index in students
              li.list-group-item(style="height:50px")= (index + 1) + '. ' + student.last_name + ', ' + student.first_name
                select.form-control.input-sm.pull-right(name="attendance-#{student.student_id}", style="width:100px")
                  option(value="1")
                    | 1
                  option(value="2")
                    | 2
                  option(value="3")
                    | 3
                  option(value="4")
                    | 4
                  option(value="5")
                    | 5
                  option(value="6")
                    | 6
                  option(value="7")
                    | 7
                  option(value="8")
                    | 8
                  option(value="9")
                    | 9
                  option(value="10")
                    | 10
                  option(value="absent")
                    | Ausente
          hr
          input(type="hidden",name="_csrf",value="#{_csrf}")
          input.btn.btn-lg.btn-success.btn-block(type="submit", value="Aceptar")


block scripts
  script(src="/js/header.js")
block styles
